<div class="form-comment">
  <%= comment.text_field :username, placeholder: "Add yourname...", class: "form-control" %>
</div>
<div class="form-comment">
  <%= comment.text_field :body, placeholder: "Add your comment....", class: "form-control" %>
</div>
<div class="form-comment">
  <%= comment.submit "Add comment", class: "btn btn-primary" %>
</div>